.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height:10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  position: relative;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 1em;
  font-family: "PT Sans";
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.img {
  border-radius: 5px 5px 0 0;
  size: inherit;
}

.column {
  float: left;
  width: 33%;
}

.row {
  text-align: center;
}
.card-action {
  /*border-top: groove dimgrey ;*/
  position: relative;
  bottom: 1em;
  font-family: Arial;
  font-weight: bold;
  color: blue;
  font-size: 20px;
  text-align: center;
}

@keyframes updown {
  0% {top: 0px}
  25% {top: 30px}
  50% {top: 15px}
  100% {top: 0px}
}

.card:hover > .card-action{
  position: relative;
  animation: updown 2s infinite;
}
.card:active > .hidden {
  display: block;
}

.hidden{
  display: none;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}